body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  display: flex;
  height: 32px;
  width: 600px;
}

#playbackTime {
  padding: 8px;
  color: white;
  font-size: 14px;
}

#noteTextArea {
  flex-grow: 1;
  font-size: 14px;
}

#saveBtn {
  border: none;
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
